---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
//$theme-primary: #F05F40;
$theme-primary: #a5b7a2;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

img {
  display:block;
  margin: 0 auto;
  max-width: 100%;
}
.site-footer {
    background-color: #615c5a;
    color: white;
    padding: 0 10%;
}

.site-footer .wrapper {
  /*padding: 10px 100px 10px 100px!important;*/
  padding: 10px;
  margin:auto;
  float: left;
  width: 400px;
  min-width: 200px;
  font-size: 0.8em;
}


.site-footer .wrapper#icons {
  min-width:100px;
  width:100px;
}

/**
 * Logo réseaux
 */

.icon-twitter::before {
    content: "\E949";
}

div .icon {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#icons,.wrapper div .icon {
    font-size: 15px;
}


