<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p>GetItFixed! has a lot of features that match your needs and
                will get more in the future:</p>
                    <ul class="col-lg-8 col-lg-offset-2"
                        style="text-align:left;padding:0 0 0 0em;line-height:1.5;font-size:16px;">
                        <li>full mobile support;</li>
                        <li>multilanguage;</li>
                        <li>multi-organization: manage tickets for several
                            organization (commune, internal service);</li>
                        <li>organize your ticket: assign to the right
                            person;</li>
                        <li>access to your data: visualize your data in a GIS,
                            data visualization;</li>
                        <li>and a lot of other features, check the list!</li>
                    </ul>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
