<footer class="site-footer">
  <div class="wrapper"> 
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

  <div class="wrapper">
     <h2 class="footer-heading">Plan du site</h2>
     <ul>
         <li><a href="{{ site.url }}/">Home</a></li>
         <li><a href="{{ site.url }}/features">Features</a></li>
         <li><a href="{{ site.url }}/documentation">Documentation</a></li>
         <li><a href="{{ site.url }}/screenshots">Screenshots</a></li>
         <li><a href="{{ site.url }}/services">Services</a></li>
         <li><a href="{{ site.url }}/blog"></a>Actuality</li>
         <li><a href="{{ site.url }}#contact">Contact</a></li>
     </ul>
  </div>

  <div class="wrapper" id="icons">
      <div class="plr-3 d-flex align-items-center">
         <span class="icon icon-twitter pr-1"></span>
         <a href="{{ site.twiter_username }}" class="text-gray-500" target="_blank">
             <span class="d-none d-md-inline small">Twitter</span>
         </a>
      </div>
      <div class="plr-3 d-flex align-items-center">
        <a href="{{ site.url }}#contact">
            <span class="d-none d-md-inline small">Contact</span>
        </a>
      </div>

  </div>
  <hr style="float:none;clear:both;"/>
</footer>

