<footer class="site-footer">
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

  <div class="wrapper">
     <h2 class="footer-heading">Plan du site</h2>
     <ul>
         <li><a href="/">Accueil</a></li>
         <li><a href="/features">Features</a></li>
         <li><a href="/documentation">documentation</a></li>
         <li><a href="/screenshots">Screenshots</a></li>
         <li><a href="/sevices">Services</a></li>
         <li><a href="/contact">Contact</a></li>
     </ul>
  </div>

  <div class="wrapper" id="icons">
      <a href="{{ site.twiter_username }}"><img src="../img/icones/photo-facebook-logo-png-hd-25.png" alt="logo facebook" title="Facebook" /></a>
      <a href="/contact#contact"><img src="../img/icones/Sve5Hh-send-email-button-clipart-hd.png"></a>
  </div>
  <hr style="float:none;clear:both;"/>
</footer>

